<mat-tab-group>
  <mat-tab label="Booking">
    <div *ngIf="historyData?.length == 0">
    No data
    </div>
    <div *ngFor="let val of historyData">
      Date : {{bookingData.date }}<br>
      going_to : {{bookingData.going_to }}<br>
      leaving_form : {{bookingData.leaving_form }}<br>
      Classes : {{val.Classes }}<br>
      Amount : {{val.Amount }}<br>
      TrainStatus : {{val.TrainStatus }}
    <button (click)="cancelTicket(val)">Cancel Ticket</button>
    </div>
  </mat-tab>
  <mat-tab label="Cancel">
    <app-cancel></app-cancel>
  </mat-tab>
</mat-tab-group>
