<mat-card>
  Leaving Form : {{ bookingData?.leaving_form }}
  Start Time : {{ TrainstartTime | date:'MMMM dd yyyy hh:mm'}}  ||  Going To :{{ bookingData?.going_to }} End Time : {{ TrainendTime | date:'MMMM dd yyyy hh:mm'}}
  <div class="col-md-12 align-items-center">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let seat of seatAva">
        <input
          type="checkbox"
          value="{{ seat.id }}"
          [checked]="seat.isSelected"
          [disabled]="seat.Status"
          (click)="isAllSelected(seat)"
        />
        {{ seat.Classes }}
        {{ seat.TrainStatus }}
        {{ seat.Amount }}
      </li>
    </ul>
  </div>
  <button (click)="submitData()" [disabled]="!selectVal">Booking</button>
</mat-card>
